:root {
  --primary-color: #333;
  --secondary-color: #444;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Catamaran", sans-serif;
  line-height: 1.6;
  color: var(--primary-color);
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4 {
  line-height: 1.3;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

.navbar {
  font-size: 1.2rem;
  padding: 0.3rem 0;
}

.navbar .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navbar .logo {
  font-size: 2rem;
}

.navbar .nav {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navbar .nav a:hover {
  color: #555;
}

.hero {
  margin: 2rem 0;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 4rem;
  color: var(--primary-color);
}

.hero p {
  margin: 1rem 0;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
}
