.container {
  max-width: min(90%, 1100px);
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  border: 1px solid red;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}
