.container {
  max-width: min(90%, 1100px);
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  border: 1px solid red;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
